# Folders
# Requirements and specifcation documents
/requirements/*

# Files
# Scratchpad file
scrachpad.rb

# Credentials File
/data/credentials.json

# Development Tests
/data/header.json
/data/body.json
/data/status.json